body {
    background-color: white;
    color: black;
    text-align: center;
    line-height: 1.5;
   }
   
   p, li, div {
    text-indent: 1em;
    font-size: 13px;
   }
   
   h1, h2, h3, h4, h5, h6 {
    font-size: 14px;
    font-weight: bold;
   }